SpeechRecognition==3.10.1
pyttsx3==2.90
PyAudio==0.2.14
google-genai
playwright
pywinauto
pyperclip
Pillow
opencv-python
pygame
wikipedia
requests
pyautogui
psutil
openai
anthropic
abacusai
chromadb
sentence-transformers
pypdf
python-docx
flask-socketio==5.6.1
python-socketio==5.16.4
python-engineio==4.13.5
eventlet
python-dotenv
edge-tts
mss
pywebview
